.left-form {
    -fx-background-color: #ff8e47;
    -fx-border-color: #ff8e47;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;


}

/*
Stylus a bankártyának
-fx-effect: dropshadow(three-pass-box, red, 10, 0, 4, 4);
    -fx-background-insets: 12;
      -fx-background-radius: 6;

 */

.right-form {

    -fx-min-width: 100px;
    -fx-background-color: #25273E;


    /*

      -fx-effect: innershadow(gaussian, rgba(255, 0, 0, 0.3), 25, 0.5, 0, 0);

    -fx-effect: dropshadow(blurType, color, radius, spread, offsetX, offsetY) radiust kell állítani ha nagyobb elmosást akarunk elérni
     */

}

.close {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.close:hover {
    -fx-background-color: #ffff;
}

.text-field {


    -fx-min-width: 100px;
    -fx-max-width: 250px;
    -fx-border-radius: 0px;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-font-family: "Tahoma";
    -fx-font-size: 13px;
}

.text-field:focused {

    -fx-border-radius: 2px;
    -fx-background-radius: 3px;
    -fx-border-width: 2px;

    -fx-effect: dropshadow(three-pass-box, white, 10, 0, 0, 0);
}

.login-button {
    -fx-background-color: #ff8e47;

    -fx-background-radius: 5px;
    -fx-max-width: 250;
    -fx-font-size: 14px; /* Add 'px' unit to font size */
    -fx-text-fill: #fff;
    -fx-font-family: "SansSerif";
}

.login-button:hover {
    -fx-background-color: #ffa466;
    -fx-cursor: hand;


}


/*main page*/
