.card_image{
    -fx-border-radius: 10;

    -fx-effect: dropshadow(three-pass-box, red, 10, 0, 4, 4);
    -fx-background-insets: 12;
    -fx-background-radius: 6;
    -fx-background-color: red;
}

.top_side_main{
    -fx-border-color: transparent transparent white transparent;
    -fx-background-color: #1a1e35;

}

.mainPageBorderPane{
    -fx-background-color: #25273E;

}

.bankBalance{

}

.myList
{
    -fx-background-color: #1c1d30;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-alignment: center;

}

.list-view:focused
{
    -fx-background-color: #1c1d30;
    -fx-border-radius: 0px;
    -fx-background-radius: 10px;
    -fx-alignment: center;
    -fx-background-insets: 0;

}
.list-view
{
    -fx-background-color: #1c1d30;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-alignment: center;

}



.list-cell:odd{

    -fx-alignment: center;
    -fx-background-color: #1c1d30;
    -fx-border-width: 1px;


}

.list-cell:even{
    -fx-alignment: center;
    -fx-background-color: #1c1d30;
    -fx-border-width: 1px;


}

.list-cell
{
    -fx-alignment: center;

}


.cardList .list-cell:focused
{
    -fx-alignment: center;
    -fx-translate-y: -10;

}

.scroll-bar:vertical {
    -fx-background-color: #1c1d30;
    -fx-pref-width: 10px;


}

.scroll-bar:vertical .thumb {
    -fx-background-color: #F57933;
    -fx-pref-width: 10px;

}

.scroll-bar:horizontal {
    -fx-background-color: #1c1d30;
    -fx-pref-width: 10px;


}

.scroll-bar:horizontal .thumb {
    -fx-background-color: #F57933;
    -fx-pref-width: 10px;

}

.currencyType
{
    -fx-border-radius: 10px;
    -fx-border-width: 1px;
    -fx-border-color: white white white white;
    -fx-background-radius: 11px;
    -fx-background-color: #25273E;
}

.currencyType:hover
{

    -fx-background-color: #1a1e35;
}

.sidePane
{
    /* top-left, top-right, bottom-right, and bottom-left corners, in that order. */
    -fx-border-radius: 10 0 0 10;
    /*-fx-border-color: white transparent white white; */
    -fx-border-width: 1px;

    -fx-background-radius: 10 0 0 10;
    -fx-background-color: #00c200;
}



.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-plot-background{
    -fx-border-width: 2px;
    -fx-border-color: white;
    -fx-border-radius: 1px;
}

.axis {
    -fx-font-size: 1.4em;
    -fx-tick-label-fill: white;
    -fx-tick-length: 0;
    -fx-minor-tick-length: 0;

}

.chart{
    -fx-horizontal-grid-lines-visible: false;
    -fx-vertical-grid-lines-visible: false;
    -fx-vertical-zero-line-visible: false;
    -fx-horizontal-zero-line-visible: false;
}

.default-color0.chart-series-line {
    -fx-stroke: #16ff00; -fx-stroke-width: 1px
}



.chart-line-symbol{
    -fx-background-radius: 2px;
    -fx-background-color: transparent, #16ff00;


}

.leftSide{
    -fx-background-color: #1c1d30;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.leftNav{
    -fx-background-color: #1c1d30;
    -fx-border-color: transparent white transparent transparent;

}



.logoutBtn:hover{
    -fx-background-color: #F57933CC;
    -fx-cursor: hand;
}

.logoutBtn{
    -fx-background-color: #F57933;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;

}


.addTransactionBtn:hover{
    -fx-background-color: #F57933CC;
    -fx-cursor: hand;
}

.addTransactionBtn{
    -fx-background-color: #F57933;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;

}

.cardList{

}

.addCardBtn:hover{
    -fx-background-color: #1c1d30;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(three-pass-box, white, 10, 0, 0, 0);
    -fx-cursor: hand;

}

.leftNavBtn.button{
    -fx-background-color: #F57933;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;

}

.leftNavBtn:hover{
    -fx-background-color: #F57933CC;
    -fx-cursor: hand;
}


