.card_image{
    -fx-border-radius: 10;

    -fx-effect: dropshadow(three-pass-box, red, 10, 0, 4, 4);
    -fx-background-insets: 12;
    -fx-background-radius: 6;
    -fx-background-color: red;
}

.top_side_main{
    -fx-border-color: transparent transparent white transparent;
    -fx-background-color: #1a1e35;

}

.mainPageBorderPane{
    -fx-background-color: #25273E;

}

.bankBalance{

}

.myList
{
    -fx-background-color: #1c1d30;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-alignment: center;

}

.list-view:focused
{
    -fx-background-color: #1c1d30;
    -fx-border-radius: 0px;
    -fx-background-radius: 10px;
    -fx-alignment: center;
    -fx-background-insets: 0;

}
.list-view
{
    -fx-background-color: #1c1d30;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-alignment: center;


}



.list-cell:odd{

    -fx-alignment: center;
    -fx-background-color: #1c1d30;
    -fx-border-width: 1px;


}

.list-cell:even{
    -fx-alignment: center;
    -fx-background-color: #1c1d30;
    -fx-border-width: 1px;


}

.list-cell
{
    -fx-alignment: center;

}


.cardList .list-cell:focused
{
    -fx-alignment: center;
    -fx-translate-y: -30;

}

.scroll-bar:vertical {
    -fx-background-color: #1c1d30;
    -fx-pref-width: 10px;


}

.scroll-bar:vertical .thumb {
    -fx-background-color: #F57933;

}

.scroll-bar:vertical:hover {
    -fx-cursor: hand;
}

.scroll-bar:horizontal {
    -fx-background-color: #1c1d30;
    -fx-pref-height: 10px;
}

.scroll-bar:horizontal:hover {
    -fx-cursor: hand;
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: #F57933;
    -fx-pref-height: 10px;

}

.currencyType
{
    -fx-border-radius: 10px;
    -fx-border-width: 1px;
    -fx-border-color: white white white white;
    -fx-background-radius: 11px;
    -fx-background-color: #25273E;
}

.currencyType:hover
{

    -fx-background-color: #1a1e35;
}

.sidePane
{
    /* top-left, top-right, bottom-right, and bottom-left corners, in that order. */
    -fx-border-radius: 10 0 0 10;
    /*-fx-border-color: white transparent white white; */
    -fx-border-width: 1px;

    -fx-background-radius: 10 0 0 10;
    -fx-background-color: #41FF24;
}



.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-plot-background{
    -fx-border-width: 2px;
    -fx-border-color: white;
    -fx-border-radius: 1px;
}

.axis {
    -fx-font-size: 2px;
    -fx-tick-label-fill: white;
    -fx-tick-length: 1;
    -fx-minor-tick-length: 1;
}



.chart{
    -fx-horizontal-grid-lines-visible: false;
    -fx-vertical-grid-lines-visible: false;
    -fx-vertical-zero-line-visible: false;
    -fx-horizontal-zero-line-visible: false;
}



.chart-pie-label {
    -fx-fill: white;


}
.chart-legend {
    -fx-background-color: #25273E;
    -fx-border-color: #F57933;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;

}

.chart-legend-item {
    -fx-text-fill: white;
}

/*
.default-color0.chart-pie { -fx-pie-color: #ffffff; }
.default-color1.chart-pie { -fx-pie-color: #ffffff; }
.default-color2.chart-pie { -fx-pie-color: #ffffff; }
.default-color3.chart-pie { -fx-pie-color: #ff0000; }
.default-color4.chart-pie { -fx-pie-color: #ff0000; }
.default-color5.chart-pie { -fx-pie-color: #ff0000; }
.default-color6.chart-pie { -fx-pie-color: #ff0000; }
.default-color6.chart-pie { -fx-pie-color: #ff0000; }
 */



.default-color0.chart-area-symbol{
    -fx-background-color: transparent, transparent; /* Disables the circles on the graph */
}
.default-color0.chart-series-area-line{
    -fx-stroke: #16ff00;   /* Sets the chart line's color */
    -fx-stroke-width: 2px    /* Sets the cart line's width */
}
.default-color0.chart-series-area-fill{
    -fx-fill: rgba(22, 255, 0, 0.51);
}

.chart-line-symbol{
    -fx-background-radius: 2px;
}

.leftSide{
    -fx-background-color: #1c1d30;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.leftNav{
    -fx-background-color: #1c1d30;
    -fx-border-color: transparent white transparent transparent;

}



.logoutBtn:hover{
    -fx-background-color: #F57933CC;
    -fx-cursor: hand;
}

.logoutBtn{
    -fx-background-color: #F57933;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;

}


.addTransactionBtn:hover{
    -fx-background-color: #F57933CC;
    -fx-cursor: hand;
}

.addTransactionBtn{
    -fx-background-color: #F57933;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;

}


.button:hover{
    -fx-background-color: #F57933CC;
    -fx-cursor: hand;
}

.button{
    -fx-background-color: #F57933;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-text-fill: white;

}

.cardList{

}

.addCardBtn:hover{
    -fx-background-color: #1c1d30;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(three-pass-box, white, 10, 0, 0, 0);
    -fx-cursor: hand;

}

.leftNavBtn.button{
    -fx-background-color: #25273E;
    -fx-text-fill: white;
    -fx-border-color: transparent transparent white transparent;

}

.leftNavBtn.button:hover{
    -fx-background-color: #F57933CC;
    -fx-cursor: hand;
}

.pieExpenseBtn, .pieIncomeBtn, .pieCombinedBtn{
    -fx-background-color: #25273E;
    -fx-text-fill: white;
    -fx-border-color: transparent transparent white transparent;
}

.pieExpenseBtn:hover, .pieIncomeBtn:hover, .pieCombinedBtn:hover{
    -fx-background-color: #F57933CC;
    -fx-cursor: hand;
}


.userList .list-cell
{
    -fx-font-size: 15px;
    -fx-text-fill: white;
}

.accNum:hover{
    -fx-text-fill: blue;
}

.menu-button .arrow-button {
    -fx-padding: 0;
}

.menu-button .arrow-button > .arrow {
    -fx-padding: 0;
}

.menu-button{
    -fx-background-color: #F57933;
    -fx-text-fill: white;
}

#filterBtn:hover{
    -fx-background-color: #F57933CC;
}

.menu-button:hover{
    -fx-text-fill: white;
    -fx-cursor: hand;
}
.menu-button .label{
    -fx-text-fill: white;
}

.menu-item {
    -fx-background-color: #25273E;
    -fx-text-fill: white;
    -fx-border-color: transparent transparent white transparent;;
}

.menu-item .label {
    -fx-text-fill: white;
}

.menu-item:hover {
    -fx-background-color: #F57933CC;
    -fx-cursor: hand;
}

.context-menu{
    -fx-background-color: #25273E;
    -fx-text-fill: white;
    -fx-border-radius: 5px;
}







