
.right-form {

    -fx-min-width: 100px;
    -fx-background-color: #25273E;


}


.text-field {


    -fx-min-width: 100px;
    -fx-max-width: 250px;
    -fx-border-radius: 0px;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-font-family: "Tahoma";
    -fx-font-size: 13px;
}

.text-field:focused {

    -fx-border-radius: 2px;
    -fx-background-radius: 3px;
    -fx-border-width: 2px;

    -fx-effect: dropshadow(three-pass-box, white, 10, 0, 0, 0);
}

.register-button {
    -fx-background-color: #F57933;

    -fx-background-radius: 5px;
    -fx-max-width: 250;
    -fx-font-size: 14px; /* Add 'px' unit to font size */
    -fx-text-fill: #fff;
}

.register-button:hover {
    -fx-background-color: #F57933CC;
    -fx-cursor: hand;


}


