.transactionContainer{
    -fx-border-width: 1px;
   // -fx-border-color: transparent transparent #ff8e47 transparent;
    -fx-background-color: #1c1d30;

}


.typeIndicator{
    /* top-left, top-right, bottom-right, and bottom-left corners, in that order. */
    -fx-border-radius: 100;
    -fx-background-radius: 100;
    /* -fx-border-width: 1 0 1 1 ; */
    /*-fx-border-color: white transparent white white; */
}

.dateSection
{
     /*
     25273E - lighter
     1c1d30 - darker
      */
    -fx-background-color: #25273E;
    -fx-border-color: white white transparent white;
    -fx-border-radius: 10px 10px 0 0;
}


.innerBox{
    -fx-border-color: transparent white white white;
}

